// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)
+font(pfdintextcomppro-regular, pfdintextcomppro-regular)  
=reg
	font-family: "pfdintextcomppro-regular", "Helvetica Narrow", "Arial Narrow", Arial, Helvetica, sans-serif
	
+font(pfdintextcomppro-medium, pfdintextcomppro-medium)  
=med
	font-family: "pfdintextcomppro-medium", "Helvetica Narrow", "Arial Narrow", Arial, Helvetica, sans-serif
	
+font(pfdintextcomppro-bold, pfdintextcomppro-bold)  
=bold
	font-family: "pfdintextcomppro-bold", Arial, "Helvetica Narrow", "Arial Narrow", Arial, Helvetica, sans-serif
	
=arial
	font-family: Arial, Helvetica, sans-serif
=tr_c
	+tr(color .3s)
$blue: #268cb6
$blue-h: #1d769b
$gray: #888
$black: #050505
$dark: #333
$red: #ed1c24
$border: #f4f4f4
html
	+selection
		background: rgba($blue, .8)
		color: #fff  
body
	font-size: 13px 
	line-height: 1.5
	color: $dark 
	+arial
	min-width: 1170px
a
	text-decoration: none 
// common blocks      
.wrap
	font-size: 0
	+clr
.row
	&_table
		display: table
		table-layout: fixed
		> div
			display: table-cell
			vertical-align: middle
			float: none
	&_inline	
		font-size: 0
		> div
			display: inline-block
			vertical-align: top
			float: none
.l-layout
	display: table
	width: 100%
	table-layout: fixed


.list-title
	font-weight: bold
	font-size: 14px
	color: #000
	a
		color: #000
		+tr(color .3s)
		&:hover
			color: $blue 
.list
	font-size: 12px
	color: #000
	line-height: 1.2
	word-break: break-all
	
	a
		display: inline-block
		padding: 5px 0 
		color: #000
		+tr(color .3s)
		&:hover
			color: $blue 
.list_small
	font-size: 11px
	&.list_gray
		strong
			color: #000 
			&:hover
				color: $blue 
.list_gray
	color: $gray
	a
		color: $gray 
	
.title
	position: relative
	overflow: hidden
	text-align: center
	font-weight: normal
	font-size: 16px
	text-transform: uppercase
	+med
	line-height: 1.5
	letter-spacing: 1px 
	color: #000 
	> span
		display: inline-block
		position: relative
		padding: 0 6px
		&:before,
		&:after
			content: ""
			position: absolute
			top: 50%
			width: 600px
			height: 1px
			background: #ededed
		&:before
			left: -600px
		&:after
			right: -600px
		span
			display: inline-block
			position: relative
			padding: 0 12px 
			&:before,
			&:after
				content: ""
				position: absolute
				top: 50%
				margin-top: -3px
				+svg(sep,6,6)
			&:before
				left: 0
			&:after
				right: 0
	&_big
		font-size: 18px
		span
			&:before,
			&:after
				top: 45%
			span
				&:before,
				&:after
					margin-top: -5px
.title_width
	> span
		padding: 0 15px
		span
			padding: 0 12px 
.prod
	display: inline-block
	vertical-align: top
	margin-left: 5%
	width: 30%
	font-size: 12px
	line-height: 1.2
	&:first-child
		margin-left: 0
	&__img
		overflow: hidden
		margin-bottom: 6px
		border: 1px solid #e4e1d9
		height: 95px
		width: 95px
		text-align: center
		img
			max-width: 100%
			max-height: 100%
	&__title
		margin-bottom: 5px
		color: #000
		a
			color: #000
			+tr_c
			&:hover
				color: $blue 
		span
			color: $gray 

.price
	display: inline-block
	font-size: 20px
	white-space: nowrap
	+med
	color: #000
	sup
		position: relative
		top: -4px
	sup, sub
		font-size: 14px
	&_old
		position: relative
		padding-left: 10px
		color: $gray 
		&:before
			content: "" 
			position: absolute
			top: 14px
			left: 0
			right: -10px
			height: 1px
			+rotate(12deg)
			background: $gray 
.text
	font-size: 13px
	line-height: 1.2
	+arial
	color: #000
	a
		color: $blue
		+tr_c
		&:hover
			color: $blue-h 
	&_gray
		color: $gray
		strong
			color: #000 
	&_small
		font-size: 11px
		p
			margin-bottom: 7px

.checkbox
	display: block
	padding: 3px 0 
	line-height: 1
	font-size: 12px
	+tr_c
	cursor: pointer
	input
		position: absolute
		opacity: 0
		&:checked
			+ .checkbox__text
				&:after
					opacity: 1
	&__text
		display: block
		padding-left: 24px
		position: relative
		+nosel
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 12px
			height: 12px
			border: 1px solid #cdcdcd
		&:after
			content: "\f00c" 
			position: absolute
			left: 2px
			top: 0
			+fa-icon
			+gpu
			font-size: 10px
			opacity: 0
			+tr(opacity .2s)
		span
			color: $gray 
	&:hover
		color: $blue-h 

.btn-more
	display: inline-block
	position: relative
	padding: 10px 24px
	background: none
	color: $blue
	+tr_c
	font-size: 13px
	+med
	text-transform: uppercase
	&:before
		content: "\f067"
		position: absolute
		left: 3px
		top: 12px
		+fa-icon
		font-size: 10px
	&:hover
		color: $blue-h
	&.is-active
		&:before
			content: "\f068" 
