// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)
+font(pfdintextcomppro-regular, pfdintextcomppro-regular)  
=reg
	font-family: "pfdintextcomppro-regular", "Helvetica Narrow", "Arial Narrow", Arial, Helvetica, sans-serif
	
+font(pfdintextcomppro-medium, pfdintextcomppro-medium)  
=med
	font-family: "pfdintextcomppro-medium", "Helvetica Narrow", "Arial Narrow", Arial, Helvetica, sans-serif
	
+font(pfdintextcomppro-bold, pfdintextcomppro-bold)  
=bold
	font-family: "pfdintextcomppro-bold", Arial, "Helvetica Narrow", "Arial Narrow", Arial, Helvetica, sans-serif
	
=arial
	font-family: Arial, Helvetica, sans-serif
=tr_c
	+tr(color .3s)
$blue: #268cb6
$blue-l: #9ecbdc
$blue-h: #1d769b
$gray: #888
$black: #050505
$dark: #333
$red: #ed1c24
$border: #f4f4f4
$border-d: #eee
$green: #248932
html
	min-width: 1200px
	+selection
		background: rgba($blue, .8)
		color: #fff  
body
	font-size: 13px 
	line-height: 1.5
	color: $dark 
	+arial
.container
	min-width: 1200px !important
	width: 1200px !important
a
	text-decoration: none 
// common blocks      
.wrap
	font-size: 0
	+clr
.row
	&_table
		display: table
		min-width: calc(100% + 30px)
		table-layout: fixed
		> div
			display: table-cell
			vertical-align: middle
			float: none
	&_inline	
		font-size: 0
		> div
			display: inline-block
			vertical-align: top
			float: none
.l-layout
	display: table
	width: 100%
	table-layout: fixed


.list-title
	font-weight: bold
	font-size: 14px
	color: #000
	a
		color: #000
		+tr(color .3s)
		&:hover
			color: $blue 
.list
	font-size: 12px
	color: #000
	line-height: 1.2
	word-break: break-all
	
	a
		display: inline-block
		padding: 5px 0 
		color: #000
		+tr(color .3s)
		&:hover
			color: $blue 
.list_small
	font-size: 11px
	&.list_gray
		strong
			color: #000 
			&:hover
				color: $blue 
.list_gray
	color: $gray
	a
		color: $gray 

.row
	+ .title
		margin-top: 12px	
.title
	position: relative
	margin-bottom: 20px
	overflow: hidden
	text-align: center
	font-weight: normal
	font-size: 16px
	text-transform: uppercase
	+med
	line-height: 1.5
	letter-spacing: 1px 
	color: #000 
	+ .row
		margin-top: 30px
	> span
		display: inline-block
		position: relative
		padding: 0 6px
		&:before,
		&:after
			content: ""
			position: absolute
			top: 50%
			width: 600px
			height: 1px
			background: #ededed
		&:before
			left: -600px
		&:after
			right: -600px
		span
			display: inline-block
			position: relative
			padding: 0 12px 
			&:before,
			&:after
				content: ""
				position: absolute
				top: 50%
				margin-top: -1px
				width: 4px
				height: 4px
				+rotate(45deg)
				background: $blue-l 
			&:before
				left: 0
			&:after
				right: 0
	.fa
		color: $blue
		font-size: 48px 
	.fa-check-square-o
		margin-left: 7px
.title_big
	font-size: 18px
	+bold
	span
		&:before,
		&:after
			top: 45%
		span
			&:before,
			&:after
				margin-top: -3px
.title_width
	> span
		padding: 0 15px
		span
			padding: 0 12px 

.title_dark
	span
		&:before,
		&:after
			background: #000 
.title_normal
	font-size: 24px
	text-transform: none
.prod
	display: inline-block
	vertical-align: top
	margin-left: 5%
	width: 30%
	font-size: 12px
	line-height: 1.2
	&:first-child
		margin-left: 0
	&__img
		overflow: hidden
		margin-bottom: 6px
		border: 1px solid #e4e1d9
		height: 95px
		width: 95px
		text-align: center
		img
			max-width: 100%
			max-height: 100%
	&__title
		margin-bottom: 5px
		color: #000
		a
			color: #000
			+tr_c
			&:hover
				color: $blue 
		span
			color: $gray 
	.price
		font-size: 20px
		sup
			font-size: 14px

.price
	display: inline-block
	font-size: 22px
	white-space: nowrap
	+med
	color: #000
	sup
		position: relative
		top: -4px
		font-size: 16px
	sub
		font-size: 14px
	span
		display: block
		color: #888 
		font-size: 11px
		+arial
		line-height: 1
	&_small
		font-size: 20px
		sup,
		sub
			font-size: 14px
	&_big
		font-size: 30px
		sup
			font-size: 18px
			top: -8px
	&_old
		position: relative
		padding-left: 10px
		color: $gray 
		font-size: 18px
		&:before
			content: "" 
			position: absolute
			top: 14px
			left: 0
			right: -10px
			height: 1px
			+rotate(12deg)
			background: $gray 
		sup
			font-size: 14px
		sub
			font-size: 12px
		&.price_big
			font-size: 24px
			sup
				font-size: 14px
			sub
				font-size: 12px
	&_large
		font-size: 40px
		sup, sub
			font-size: 22px
		sup
			top: -12px
.text
	font-size: 14px
	line-height: 1.4
	+arial
	color: #000
	&__cols
		column-count: 2 
		column-gap: 30px 
	h3
		margin-bottom: 8px
		font-size: 22px
		+med
		font-weight: normal
	a
		color: $blue
		+tr_c
		&:hover
			color: $blue-h 
	&_gray
		color: $gray
		strong
			color: #000 
	&_small
		font-size: 11px
		p
			margin-bottom: 7px
	&_mod
		line-height: 1.4
	&_mb
		margin-bottom: 45px

.checkbox
	display: block
	padding: 3px 0 
	line-height: 1.2
	font-size: 12px
	+tr_c
	cursor: pointer
	+arial
	&_small
		font-size: 11px
		line-height: 1.3
	input
		position: absolute
		opacity: 0
		&:checked
			+ .checkbox__text
				&:after
					opacity: 1
	&__text
		display: block
		padding-left: 24px
		position: relative
		+nosel
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 12px
			height: 12px
			background: #fff 
			border: 1px solid #cdcdcd
		&:after
			content: "\f00c" 
			position: absolute
			left: 2px
			top: 0
			+fa-icon
			+gpu
			font-size: 10px
			opacity: 0
			+tr(opacity .2s)
		span, 
		em
			color: $gray 
	&:hover
		color: $blue-h 
.radio
	display: block
	padding: 3px 0 
	line-height: 1
	font-size: 13px
	+tr_c
	cursor: pointer
	+arial
	input
		position: absolute
		opacity: 0
		&:checked
			+ .radio__text
				&:after
					opacity: 1
	&__text
		display: block
		padding-left: 24px
		position: relative
		+nosel
		&:before
			content: ""
			position: absolute
			left: 0
			top: 1px
			width: 13px
			height: 13px
			border-radius: 50% 
			background: #fff 
			border: 1px solid #cdcdcd
		&:after
			content: "" 
			position: absolute
			left: 4px
			top: 5px
			opacity: 0
			width: 5px
			height: 5px
			border-radius: 50% 
			background: $blue 
			+tr(opacity .2s)
		span, 
		em
			color: $gray 

.radiobox
	float: left
	position: relative
	padding: 15px 20px 15px 50px
	+arial
	color: #888
	font-size: 11px 
	width: 33%
	&:first-child
		width: 34%
	&.is-inactive
		.radiobox__label
			cursor: default
	&__label
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 2
		cursor: pointer
	&__border
		display: none
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 1
		pointer-events: none
		border: 2px solid $blue
	input
		opacity: 0
		position: absolute
		&:checked
			+ .radiobox__border
				display: block
				+ .radiobox__title
					&:after
						display: block
		&[disabled]
			+ .radiobox__border
				+ .radiobox__title
					color: #888 
	&__title
		position: relative
		font-size: 13px
		font-weight: bold
		color: #333 
		&:before
			content: ""
			position: absolute
			left: -21px
			top: 1px
			width: 13px
			height: 13px
			-webkit-border-radius: 50% 
			border-radius: 50% 
			border: 1px solid #939393
		&:after
			display: none
			content: ""
			position: absolute
			left: -17px
			top: 5px
			width: 5px
			height: 5px
			-webkit-border-radius: 50% 
			border-radius: 50% 
			background: $blue 
.radiobox_tab
	min-height: 66px
	margin-bottom: -2px
	.radiobox__border
		border-bottom: 0 
	input
		&:checked
			+ .radiobox__border
				&:after
					content: ""
					position: absolute
					left: 0
					right: 0
					height: 2px
					bottom: 0
					background: #fff  
.btn-more
	display: inline-block
	position: relative
	padding: 10px 24px
	background: none
	color: $blue
	+tr_c
	font-size: 13px
	+med
	letter-spacing: 1px 
	text-transform: uppercase
	&:before
		content: "\f067"
		position: absolute
		left: 3px
		top: 12px
		+fa-icon
		font-size: 10px
	&:hover
		color: $blue-h
	&.is-active
		&:before
			content: "\f068" 
	&_reset
		&:before
			content: "\f021" 
			+tr(transform .2s)
		&:hover
			&:before
				transform: translate3d(0,0,0) rotate(180deg)
.btn-more_simple
	padding: 10px 0 
	color: $gray 
	&:before
		display: none
.btn-back
	display: inline-block
	position: relative
	border: 2px solid #d1d1d1
	padding: 5px 14px 4px 26px
	font-size: 16px
	+med
	line-height: 1
	text-transform: uppercase
	color: #000  
	+tr(color .3s)
	&:hover
		color: $blue 
	&:before
		content: ""
		position: absolute
		top: 5px
		left: -7px
		+arr(7,14,#fff,l) 
		z-index: 2
	&:after
		content: ""
		position: absolute
		top: 4px
		left: -10px
		+arr(10,16,#d1d1d1,l) 
.list-marker
	color: $dark
	font-size: 13px
	+arial 
	line-height: 1.2
	+ .title-small
		margin-top: 24px
	li
		position: relative
		padding: 2px 0 2px 20px
		&:before
			content: ""
			position: absolute
			left: 0
			top: 6px
			width: 4px
			height: 4px
			+rotate(45deg)
			background: $blue-l 
			
	a
		display: inline-block
		margin: -2px 0 -2px -20px 
		padding: 2px 0 2px 20px
		color: $dark
		+tr_c
		&:hover
			color: $blue 
	
.pager
	position: relative
	text-align: center
	margin: 22px 0 58px
	color: #000 
	font-size: 0
	white-space: nowrap
	&:before,
	&:after
		content: "" 
		position: absolute
		top: 50%
		height: 1px
		width: 70px
		background: #96c6d9 
	&:before
		left: -70px
	&:after
		right: -70px
	&__link
		display: inline-block
		vertical-align: middle
		border: 2px solid transparent
		width: 22px
		height: 22px
		line-height: 20px
		font-size: 16px
		+med
		color: #000 
		+tr(color .2s)
		&:hover
			color: $blue 
		&.is-active
			border-color: #000 
	&__prev,
	&__next
		display: inline-block
		vertical-align: middle
		height: 22px
		width: 15px
		text-align: center
		line-height: 20px
		&:before
			display: inline-block
			content: "" 
			vertical-align: middle
	&__prev
		&:before
			+arr(4,8,$blue,l)
		&:hover
			&:before
				+arr(4,8,$blue-h,l)
	&__next
		&:before
			+arr(4,8,$blue,r)
		&:hover
			&:before
				+arr(4,8,$blue-h,r)


.textarea
	display: block
	border: 1px solid $border-d
	padding: 10px 12px 
	width: 100%
	height: 66px
	resize: none
	+arial
	font-size: 13px
	color: #000 
	+placeholder-color(#999)
	+tr(border .2s)
	&:focus
		border-color: $blue 
.avatar
	width: 70px
	height: 70px
	overflow: hidden
	img
		width: 100%
		display: block
		border-radius: 50% 
.comment
	padding: 30px 0 0
	margin-bottom: 30px
	border-top: 1px solid $border-d 
	&_no-border
		border: 0
		padding-top: 0
	.comment
		&:first-child
			border-top: 0
			padding-top: 0
	.col-xs-2
		width: 100px
	.col-xs-10
		float: none
		overflow: hidden
		width: auto
	&__head
		margin-bottom: 7px
	&__body
		margin-bottom: 15px
	&__user
		display: inline-block
		margin-right: 30px
		position: relative
		color: #000
		+tr_c
		font-size: 13px
		+arial
		font-weight: bold
		&:hover
			color: $blue
	.meta
		position: relative
		display: inline-block
		&:before
			content: "" 
			position: absolute
			left: -15px
			top: 3px
			height: 11px
			width: 1px
			background: $border-d 
	&__answer
		display: inline-block
		margin-right: 30px
		position: relative
		color: $blue
		font-size: 13px 
		&:before
			content: "\f112" 
			+fa-icon
			display: inline-block
			margin: 0 6px 0 2px 
			font-size: 10px
		&:hover
			color: $blue-h 
	&__footer
		color: $gray 
	.like,
	.dislike
		margin-left: 12px
	.btn
		margin-top: 35px
.comment_add
	border: 0
	.col-xs-8
		margin-right: -8.33333%
		
.like
	display: inline-block
	color: $green 
	&:before
		content: "\f087" 
		+fa-icon
		display: inline-block
		margin-right: 5px
		font-size: 14px
.dislike
	display: inline-block
	color: $red 
	&:before
		content: "\f088" 
		+fa-icon
		display: inline-block
		margin-right: 5px
		font-size: 14px


.tabs
	position: relative
	margin: 20px -9px 35px 0
	font-size: 0
	height: 50px
	&_mb
		margin-bottom: 0
	&:after
		content: ""
		position: absolute
		left: 0
		bottom: 0
		right: 9px
		height: 2px
		background: #000
	li
		position: relative
		display: inline-block
		vertical-align: top
		width: 20%
		height: 48px
		max-width: 178px
		line-height: 48px
		text-align: center
		margin-left: -2px
		border: 2px solid #dedede
		border-bottom: 0
		+text-overflow
		+med
		text-transform: uppercase
		font-size: 18px
		color: #999
		z-index: 1
		&:first-child
			margin-left: 0
		&.is-active
			border-color: #000 
			z-index: 2
			height: 50px
			&:after
				content: ""
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 2px
				background: #fff
			a
				color: #000
		&:hover
			a
				&:hover
					color: #000 
	a
		display: block
		position: relative
		color: #999 
		+tr(color .3s)
.tabs-content
	display: none
.product-col
	+clr
	margin-bottom: 55px
	&__main
		overflow: hidden
		.text
			clear: both
	&__left
		float: left
		width: 54.55%
	&__middle
		float: left
		padding-left: 30px
		width: 45.4%
		.box
			margin: 0 0 26px
	&__right
		float: right
		padding-left: 30px
		width: 22.8%

.tip
	position: absolute
	padding-top: 7px
	top: 100px
	right: 200px
	z-index: 12
	width: 270px
	opacity: 0
	visibility: hidden
	+gpu
	+tr(opacity .3s)
	&.is-active
		opacity: 1
		visibility: visible
	&__in
		display: inline-block
		position: relative
		margin: 10px 0 0 -30px 
		padding: 12px 14px
		background: #191919
		color: #fff   
		font-size: 12px
		line-height: 1.3
		&:before
			content: ""
			position: absolute
			left: 30px
			top: -5px
			+arr(11,5,#000,t) 
.info-box
	margin-bottom: 23px
	padding: 12px 14px
	font-size: 12px
	border: 2px solid #d8d8d8
	+clr
	&_benefits
		margin: 28px 0
		padding: 25px  
	&__table
		display: table
		width: 100%
		table-layout: fixed
	&__cell
		display: table-cell
		vertical-align: middle
		i
			vertical-align: middle
.title-icon
	font-size: 24px
	+med
	text-transform: uppercase
	color: #000
	&_normal
		text-transform: none
	.fa
		margin-right: 14px
		font-size: 18px
		color: $blue
.prod-simple-wrap
	font-size: 0
	margin: 0 -15px 
	.prod-simple
		position: relative
		padding: 13px 
		display: inline-block
		vertical-align: top
		width: 33.3%
		border: 2px solid transparent
		+tr(border .3s)
		&__img
			margin-bottom: 0
		&:hover
			border-color: $blue 
.prod-simple
	display: block
	margin-bottom: 10px
	&__top
		position: relative
		.meta
			position: absolute
			left: 80px
			bottom: 0
	&__img
		margin-bottom: 6px
		width: 70px
		height: 70px
		border: 1px solid #cdcdcd
		+vertical
		overflow: hidden
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			height: auto
	&__text
		font-size: 13px
		color: #000 
	&__media
		float: left
		margin-right: 30px
	&__main
		overflow: hidden
	&__del
		display: inline-block
		position: relative
		color: #888 
		font-size: 12px
		.btn-del
			right: -22px
			top: -3px
			color: $blue 
		&:hover
			.btn-del
				color: $red 
	&__name
		display: inline-block
		font-size: 16px
		+med
		line-height: 1
		color: $dark
		a
			color: $dark
			+tr(color .3s)
			&:hover
				color: $blue 
	&_left-img
		margin-bottom: 15px
		+clr
		.prod-simple__img
			float: left
			margin-right: 10px
			margin-bottom: 0
.field
	display: block
	margin-bottom: 11px
	position: relative
	&__title
		display: block
		margin-bottom: 2px
		font-size: 13px
		color: $gray 
		+arial
		min-height: 19px
	&__body
		display: block
		position: relative
	&_holder
		min-height: 54px
.input
	display: block
	border: 2px solid #000
	padding: 0 13px 
	width: 100%
	height: 33px
	+tr(border .3s)
	+arial
	font-size: 13px
	color: $dark 
	&:focus
		border-color: $blue 
	&_textarea
		padding: 13px 
		height: 162px
		resize: none
		&.input_small
			height: 85px
.select
	position: relative
	&:after
		content: "\f0d7"
		+fa-icon 
		position: absolute
		top: 11px
		font-size: 14px
		right: 6px
		pointer-events: none
	select
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		opacity: 0
		-webkit-appearance: none


.window
	display: inline-block
	vertical-align: middle
	width: 373px
	+arial
	color: $dark
	text-align: center
	font-size: 13px
	background: #fff 
	&__in
		padding: 28px 28px 43px
	&__text
		font-style: italic
		

.feedback-form
	margin-bottom: 35px
	+clr
.map
	margin-bottom: 45px
	height: 270px
	
.popup
	display: none
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	padding: 40px 
	z-index: 11
	overflow-y: auto
	overflow-x: hidden
	+vertical
	&_big
		.popup__window
			width: 930px
	&_small
		.popup__window
			width: 770px
	&__overlay
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: rgba(#000,.7) 
	&__window
		position: relative
		display: inline-block
		vertical-align: middle
		width: 830px
		background: #fff 
		text-align: left
	&__head
		position: relative
		padding: 0 30px 
		height: 60px
		background: #efefef
		+vertical
		text-align: left
		.title
			display: inline-block
			vertical-align: middle
			text-align: left
			margin-bottom: 0
	&__close
		position: absolute
		top: 0
		right: 0
		width: 30px
		height: 30px
		background: none
		font-size: 14px
		color: #999 
		+tr(color .3s)
		&:hover
			color: #000
		&:before
			content: "\f00d"
			+fa-icon
			vertical-align: middle 
	&__body
		padding: 15px 30px 
		+clr
	&__main
		margin: 0 -14px 20px 0
		padding-right: 15px
		max-height: 250px
		overflow-y: auto
		overflow-x: hidden
		+scrollbar
			width: 3px
			height: 3px
			background: #e5e5e5 
		+scrollbar-thumb
			background: #b6b6b6
			width: 3px
			height: 3px
	.img-slider
		float: left
		margin-bottom: 15px
		width: 570px
	&__prod
		overflow: hidden
		padding: 13px 0 0 30px
		.price_old
			margin-right: 15px
		.btn,
		.btn-simple
			margin: 10px 0 
	.total
		position: relative
		margin: 20px 30px 25px
		padding-bottom: 10px 
		.popup__close
			right: -15px
			top: -10px
.img-slider
	visibility: hidden
	height: 470px
	&.is-ready
		visibility: visible
	&__info
		margin-bottom: 3px
	.slick-slider
		border: 1px solid #eee
	.slick-slide
		height: 468px
		+vertical
		img
			display: inline-block
			vertical-align: middle
			max-height: 100%
			max-width: none
	.slick-prev,
	.slick-next
		z-index: 2
		top: 50%
		margin-top: -25px
		width: 40px
		height: 50px
		border: 1px solid #e5e5e5
		&:before
			font-size: 30px
	.slick-prev
		left: -1px
		&:before
			content: "\f104" 
	.slick-next
		right: -1px
		&:before
			content: "\f105" 
	&__info
		font-size: 11px
		color: $gray
		text-align: center 
		
.post
	margin-bottom: 35px
	font-size: 13px
	color: $gray
	+arial 
	line-height: 1.4
	&__img
		margin: 0 0 10px 
		border: 1px solid #cdcdcd
		position: relative
		&:hover
			img
				opacity: 0.8
		img
			display: block
			margin: 0 auto 
			max-width: 100%
			height: auto
			+gpu
			+tr(opacity .3s)
	&__cat
		position: absolute
		left: -1px
		bottom: -1px
		padding: 7px 12px 6px 12px
		background: #fff
		color: #000
		+tr(color .3s)
		color: $gray
		font-size: 12px
		+med
		line-height: 1
		text-transform: uppercase 
		&:hover
			color: $blue 
	&__title
		margin: 10px 0 
		font-size: 20px
		+med
		line-height: 1
		color: #000
		a
			color: #000
			+tr(color .3s)
			&:hover
				color: $blue 
			 
	&__text
		margin: 10px 0 0 
		

.total
	border-bottom: 2px solid #000
	font-size: 30px
	+med
	color: #000  