.footer
	margin: 20px 0 0 
	&__in
		position: relative
		border-top: 3px solid #000 
		
	.soc
		margin-top: 33px
.footer__top
	padding: 52px 0 28px 
	position: relative
	&:before
		content: ""
		position: absolute
		top: -4px
		left: 50%
		margin-left: -15px
		height: 5px
		width: 30px
		background: #fff
	&:after
		content: ""
		position: absolute
		top: -6px
		left: 50%
		margin-left: -5px
		width: 10px
		height: 10px
		background: #000
		+rotate(45deg) 
	.row
		> div
			position: relative
			border-left: 1px solid #f4f4f4  
			&:first-child
				border: 0
				.list
					padding-left: 0
	.list
		padding-left: 15px
.footer__bottom
	position: relative
	border-top: 1px solid #dcecf2 
	padding: 28px 0 15px
	&:before,
	&:after
		content: ""
		position: absolute
		top: 0
		left: 50% 
	&:before
		top: -2px
		height: 4px
		background: #fff
		width: 30px
		margin-left: -15px 
	&:after
		top: -3px
		width: 4px
		height: 4px
		+rotate(45deg)
		background: $blue-l 
		margin-left: -3px
.soc
	&__title	
		margin-bottom: 20px
		color: $gray
		font-size: 11px
	&__link
		position: relative
		display: inline-block
		vertical-align: middle
		margin-right: 23px
		width: 28px
		height: 28px
		text-align: center
		line-height: 28px
		&:hover
			&:before
				background: $blue 
		&:before
			content: "" 
			position: absolute
			left: 0
			top: 0
			width: 28px
			height: 28px
			background: #000
			+rotate(45deg) 
			+tr(background .3s)
		.fa
			position: relative
			z-index: 2
			color: #fff
			font-size: 14px 
			vertical-align: middle

.scroll-top
	position: fixed
	top: 50%
	margin-top: -25px
	right: 24px
	width: 50px
	height: 50px
	background: rgba(#000,.7) 
	+arial
	font-size: 11px
	color: #fff 
	+tr(background .3s)
	&:hover
		background: #000
	span
		display: block
	&:before
		content: "\f077"
		+fa-icon
		font-size: 14px 
	