.footer
	margin: 50px 0 0 
	+r(1024)
		display: none
	&__in
		position: relative
		border-top: 3px solid #000 
	.soc
		margin-top: 33px
.footer__top
	padding: 52px 0 28px 
	position: relative
	&:before
		content: ""
		position: absolute
		top: -4px
		left: 50%
		margin-left: -15px
		height: 5px
		width: 30px
		background: #fff
	&:after
		content: ""
		position: absolute
		top: -6px
		left: 50%
		margin-left: -5px
		width: 10px
		height: 10px
		background: #000
		+rotate(45deg) 
.catalog-list
	+ .seo
		margin-top: 65px
		+r(1024)
			display: none
	.row
		> div
			position: relative
			border-left: 1px solid #f4f4f4  
			&:first-child
				border: 0
				.list
					padding-left: 0
	+rmin(1025)
		.list
			padding-left: 15px
			+ .list
				margin-top: 22px
	+r(1024)
		.row
			columns: 3
			.col-xs-3
				width: 100%
				display: block
				float: none
		.list_small
			a
				display: block
			+ .list_small
				margin-bottom: 45px
		.list_space
			margin: 45px 0
		.list_top-space
			margin-top: 45px
.footer__bottom
	position: relative
	border-top: 1px solid #dcecf2
	padding: 28px 0 15px
	&:before,
	&:after
		content: ""
		position: absolute
		top: 0
		left: 50% 
	&:before
		top: -2px
		height: 4px
		background: #fff
		width: 30px
		margin-left: -15px 
	&:after
		top: -3px
		width: 4px
		height: 4px
		+rotate(45deg)
		background: $blue-l 
		margin-left: -3px
.soc
	&__title	
		margin-bottom: 20px
		color: $gray
		font-size: 11px
	&__link
		position: relative
		display: inline-block
		vertical-align: middle
		margin-right: 23px
		width: 28px
		height: 28px
		text-align: center
		line-height: 28px
		&:hover
			&:before
				background: $blue 
		&:before
			content: "" 
			position: absolute
			left: 0
			top: 0
			width: 28px
			height: 28px
			background: #000
			+rotate(45deg) 
			+tr(background .3s)
		.fa
			position: relative
			z-index: 2
			color: #fff
			font-size: 14px 
			vertical-align: middle
.scroll-top
	position: fixed
	bottom: 25px
	right: 25px
	width: 50px
	height: 50px
	background: rgba(#000,.7) 
	+arial
	font-size: 11px
	color: #fff 
	+tr(background .3s)
	display: none
	+r(1024)
		right: 20px
	+r(640)
		right: 10px
	&.is-visible
		display: block
	&:hover
		background: #000
	span
		display: block
	&:before
		content: "\f077"
		+fa-icon
		font-size: 14px 
.footer-sm
	position: relative
	margin-top: 70px
	display: none
	+r(1024)
		display: block
	&__top
		line-height: 1
		padding: 20px 20px 23px
		border-top: 1px solid #999999
		font-size: 12px
		+clr
		+r(640)
			padding: 20px 10px 23px
	&__bottom
		position: relative
		border-bottom: 1px solid #fff
		padding: 22px 20px
		background-color: #000
		+clr
		+r(640)
			padding: 22px 10px
	.copyright
		width: 66.66667%
		float: left
		color: #fff
		font-size: 11px
		padding-top: 2px
		+r(640)
			width: 100%
			float: none
			text-align: center
	.footer-sm-link
		width: 33.33333%
		float: right
		text-align: right
		color: #fff
		text-decoration: underline
		+r(640)
			margin-top: 10px
			text-align: center
			width: 100%
	&__schedule
		color: #000
		float: left
		span
			color: #888
			padding-right: 6px
			font-weight: 400
		li
			margin-bottom: 6px
			font-weight: 600
			&:last-child
				margin-bottom: 0
	&__nav
		float: right
	&__nav-link
		margin: 0 0 0 16px
		text-decoration: underline
		+r(640)
			display: block
			margin: 0 26px 10px
			&:last-child
				margin-bottom: 0 
		&:hover
			text-decoration: none
// .catalog-info
// 	display: none
// 	border-top: 1px solid #999999
// 	padding: 18px 0 0
// 	p
// 		color: #6e6e6e
// 		font-size: 12px
// 	+r(1024)
// 		display: block
// 		column-gap: 30px
// 		column-count: 2
// 	+r(640)
// 		column-gap: 0
// 		column-count: 1