.has-fixed-header
	&.page-error
		.out
			margin-top: 65px
	.out
		padding-top: 146px
	.header
		position: fixed
		top: 0
		left: 0
		right: 0
		z-index: 10
		background: #fff 
		height: 65px
		border-bottom: 3px solid #000
		box-shadow: 0 3px 6px rgba(#000, .3)
		min-width: 1200px
		.contact,
		.shedule,
		.search
			display: none
		.row_table
			> div
				padding-top: 0
				padding-bottom: 0
		.logo
			margin-top: 0
		.logo_small
			margin: 10px auto
		.header__in
			border: 0
		.compare
			display: block
	.nav-wrap
		position: fixed
		top: 65px
		left: 0
		right: 0
		z-index: 10
		background: #fff 
		border-bottom: 1px solid #000
		&__in
			border: 0
	.nav
		font-size: 18px
		line-height: 38px
		height: 38px
.tooper
	background: #000
	height: 30px
	line-height: 30px
	font-size: 11px
	color: #fff 
	overflow: hidden
	+arial
	+r(767)
		display: none
	a
		display: inline-block
		color: #fff 
		+tr_c
		&:hover
			color: $gray
.tooper__link
	.fa
		margin-right: 8px
.tooper__nav
	position: relative
	&:before
		content: ""
		position: absolute
		top: 50%
		margin-top: -5px
		left: 0
		height: 10px
		width: 1px
		background: #1a1a1a   
	li
		display: inline-block
		vertical-align: middle
	a
		padding: 0 10px 
.tooper__login
	text-align: center
	+text-overflow
	.fa
		margin-right: 8px
	a
		display: block
		background: #1a1a1a 
.header
	//+tr(background .3s)
	+r(767)
		display: none
	&__in
		border-bottom: 3px solid #000 
	.row_table
		> div
			padding-top: 16px
			padding-bottom: 16px
	.contact
		float: left
		margin-top: 7px
		+r(1024)
			max-width: none
			float: none
			display: inline-block
			margin 10px 0 0
	.shedule
		float: right
		max-width: 40%
		margin-top: 7px
	.compare
		display: none
		position: absolute
		right: 33.3%
		top: 0
		bottom: 0
		width: 33.3%
		&__drop
			box-shadow: 0 9px 9px rgba(#000,.3) 
	.compare-btn
		height: 62px
	.centr-text
		+r(1024)
			text-align: center
.header-mob
	position: relative
	+rmin(768)
		display: none
	.btn-menu-mob
		float: left
		margin: 3px 0
	.cart
		float: right
		max-width: 39px
		height: 24px
		padding: 0 4px
	.cart__details 
		.fa
			margin-right: 5px
	.logo-mob
		overflow: hidden
		text-align: center
		padding-top: 4px
		img
			max-width: 100%
			height: auto
.header-mob__top
	padding: 9px 0
	border-bottom: 1px solid #000
	position: relative
.header-mob__bottom
	padding: 8px 0
	text-align: center
.header-mob__bottom_border
	border-bottom: 1px solid #000
.top-mob
	position: relative
	text-align: center
	+rmin(768)
		display: none
	&__in
		padding: 0 0 10px
.slider-mob
	margin-top: 10px
.logo
	display: block
	margin: 13px 0 0 
	width: 80%
	+rmin(1025)
		max-width: 216px
	+r(1024)
		width: 100%
	img
		display: block
		width: 100%
	&_small
		margin: 28px auto 
		width: 203px
.contact
	position: relative
	&:before
		content: "\f095"
		position: absolute
		left: -20px
		top: 6px
		font-size: 12px
		+fa-icon
	&_mob
		display: inline-block
		&:before
			top: 2px
			font-size: 14px
		.contact__tel
			line-height: 1
			margin: 0
	.btn-action
		position: relative
		z-index: 6
		&.is-active
			
			&:before
				content: "" 
				position: absolute
				top: -10px
				right: -25px
				bottom: -6px
				left: -30px
				z-index: -1
				background: #fff 
				box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2)
			&:after
				content: ""
				position: absolute
				height: 15px
				bottom: -20px
				right: -35px
				left: -30px
				background: #fff 
				z-index: 0
.contact__tel
	margin-bottom: 2px
	font-size: 17px
	+bold
	line-height: 1.4
	color: #000
	a
		color: #000
		+tr_c
		&:hover
			color: $blue 
.contact__popup
	position: absolute
	top: 100%
	margin-top: 5px
	left: -30px
	padding: 12px 30px 20px
	background: #fff
	width: 435px
	z-index: 5
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2)
	display: none
	&.is-active
		display: block
	.meta
		margin-bottom: 12px
		font-size: 12px
		line-height: 1.2
		font-style: italic 
	.btn
		width: 100px
.contact__popup-inner
	width: 100%
	max-width: 233px
	display: inline-block
	vertical-align: middle
.contact__popup_mobile
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 999
	+vertical
	margin: 0
	width: 100%
	.btn
		width: 100%
		position: relative
		&:before
			content: ''
			display: block
			position: absolute
			z-index: 1
			border: 1px solid rgba(255, 255, 255, 0.5)
			left: 6px
			right: 6px
			top: 4px
			bottom: 4px
	.logo-mob
		margin-top: 22px
	.title
		margin-top: 67px
.contact__form
	.field
		float: left
		width: 232px
		+r(767)
			float: none
	.btn
		float: right
		+r(767)
			float: none
			padding: 14px 10px
.shedule
	position: relative
	font-size: 12px
	+arial
	color: $red 
	&:before
		content: "\f017"
		position: absolute
		left: -20px
		top: 2px
		font-size: 12px
		+fa-icon
		color: $black 
.shedule__list
	color: $black 
	font-weight: bold
	span
		display: inline-block
		width: 35px
		font-weight: normal
		color: $gray 
.search
	position: relative
	z-index: 4
	margin: 15px 0 0
	&_mob
		margin: 0
		.search__btn
			left: auto
			right: 0
			background-color: $blue
			color: #fff
		.search__input
			height: 30px
			padding: 0 40px 0 10px 
	&.is-active
		.search__drop
			opacity: 1
			visibility: visible
.search__input
	display: block
	position: relative
	z-index: 2
	border: 1px solid #cdcdcd
	padding: 0 10px 0 40px 
	width: 100%
	height: 31px
	+arial
	font-size: 13px
	+tr(border .3s)
	&:focus
		border-color: $blue 
		+ .search__btn
			color: $blue
			+r(767)
				color: #FFF 
.search__btn
	position: absolute
	left: 0
	top: 0
	z-index: 3
	width: 40px
	height: 30px
	background: none
	font-size: 14px
	+tr(color .3s)
	color: #000 
	&:before
		content: "\f002"
		position: absolute
		left: 15px
		top: 8px
		+fa-icon
		+r(767)
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
.search__drop
	opacity: 0
	visibility: hidden
	position: absolute
	top: 100%
	left: 0
	right: 0
	background: #fff
	z-index: 1
	+gpu
	+tr(opacity .3s)
	padding: 18px 30px 15px
	box-shadow: 0 0 5px rgba(#000,.3)
.search__all
	font-size: 14px
	text-transform: uppercase
	+med
	color: $blue
	+tr(color .3s)
	letter-spacing: 1px 
	&:hover
		color: $blue-h 
.search_big
	.search__input
		height: 41px
		border: 2px solid #000
		&:focus
			border-color: $blue 
	.search__btn
		height: 41px
		&:before
			top: 13px
	.btn
		position: absolute
		right: 0
		top: 0
		height: 41px
		width: 19.5%
		z-index: 2
.cart
	display: block
	width: 100%
	padding: 10px 
	height: 62px
	+vertical
	+transition(background, border, .3s)
	border: 1px solid #cdcdcd
	color: $gray 
	.fa
		color: #000 
	&.is-full
		border-color: $blue
		background: $blue  
		color: #fff 
		&:hover
			background: $blue-h 
			border-color: $blue-h 
		.fa
			color: #fff 
			
.cart__in
	display: inline-block
	vertical-align: middle
.cart__details
	display: block
	font-size: 11px
	.fa
		margin-right: 10px
		font-size: 12px
.cart__price
	font-size: 22px
	+med
	sub
		font-size: 14px
		+reg
.btn-action
	background: none
	color: $blue
	+arial
	line-height: 1.3
	font-weight: bold
	&:hover
		span
			border-color: transparent 
	span
		display: inline-block
		position: relative
		z-index: 2
		border-bottom: 1px dashed 
		+tr(border .3s)
.nav-wrap
	position: relative
	margin-bottom: 13px
	font-size: 0
	+r(767)
		display: none
	&__in
		border-bottom: 1px solid #000 
		position: relative
.nav
	display: table
	width: 100%
	table-layout: fixed
	font-size: 0
	text-transform: uppercase
	+med
	height: 48px
	line-height: 48px
	color: #000
	text-align: center
	+r(1024)
		display: block
		height: auto
		// line-height: 48px 
	li
		display: table-cell
		position: relative
		vertical-align: top
		font-size: 20px
		&.no-bulit
			&:before
				+r(1024)
					display: none
		+r(1024)
			display: inline-block
			width: 25%
		&:before
			content: ""
			position: absolute
			left: 0
			top: 50%
			z-index: 3
			margin-top: -2px
			width: 4px
			height: 4px
			+rotate(45deg)
			background: $blue-l 
		&:first-child
			&:before
				display: none
		&.is-active
			color: $blue 
			a
				color: $blue 
				> span
					span
						&:after
							content: ""
							position: absolute
							bottom: -1px
							height: 3px
							left: 0
							right: 0
							background: $blue  
		&.is-open
			> a
				position: relative
				z-index: 6
				box-shadow: 0 -7px 15px -5px rgba(21, 13, 2, 0.3)
				&:before
					content: ""
					position: absolute
					top: 0
					bottom: 0
					left: -1px
					width: 10px
					box-shadow: -5px 0 15px -4px rgba(21, 13, 2, 0.3)
				&:after
					content: ""
					position: absolute
					top: 0
					bottom: 0
					right: -1px
					width: 10px
					box-shadow: 5px 0 15px -4px rgba(21, 13, 2, 0.3)
				> span
					span
						&:after
							display: none
		a
			display: inline-block
			color: #000 
			+tr_c
			background: #fff 
			// &:hover
			// 	color: $blue
			> span
				display: block
				position: relative
				z-index: 2
				padding: 0 30px
				background: #fff 
				span
					position: relative
					display: inline-block
		&.no-dropdown
			a
				&:hover
					color: $blue
.subnav
	position: absolute
	opacity: 0
	visibility: hidden
	z-index: 5
	left: 0
	top: 100%
	box-shadow: 0 5px 15px rgba(21, 13, 2, 0.3)
	+tr(opacity .2s)
	&.is-visible
		opacity: 1
		visibility: visible 
	&.is-right
		left: auto
		right: 0
.subnav__in
	display: table
	table-layout: fixed
.subnav__main	
	position: relative 
	padding: 20px 30px 
	display: table-cell
	vertical-align: top
	width: 600px
	background: #fff
	// &:before
	// 	content: ""
	// 	position: absolute
	// 	top: 0
	// 	left: 0
	// 	right: 0
	// 	height: 15px 
	// 	background: #fff 
	// 	pointer-events: none
	.title_width
		margin: 5px 0 13px
.subnav__banners
	display: table-cell
	vertical-align: top
	width: 380px
	padding: 20px 30px 
	background: #f1f1f1 
	.title
		margin-bottom: 17px
		> span
			&:before,
			&:after
				background: #e5e5e5 
.overlay
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 4
	background: rgba(#000,.2)
	+tr(opacity .2s)
	+gpu
	&.is-visible
		opacity: 1
		visibility: visible

.has-fixed-header
	.header_order
		.logo
			margin-top: 10px
		.order-box
			margin-top: 5px
		.shedule,
		.contact
			display: block
.header_order
	.logo
		float: left
		margin-right: 100px
		width: 203px
		margin-top: 0
	.contact
		float: right
		margin-right: 65px
		margin-top: 0
	.shedule
		margin-top: 0

.navigation
	display: none
	position: absolute
	background-color: #fff 
	top: 100%
	left: 0
	right: 0
	z-index: 10
	margin-top: 1px
	&.is-visible
		display: block
.navigation__item
	position: relative
	border-bottom: 1px solid #cdcdcd
	&.is-active,
	&:hover
		.navigation__link
			color: #fff
			background-color: $blue
		.fa
			color: #fff
	.fa
		position: absolute
		top: 50%
		right: 22px
		transform: translateY(-50%) rotate(0deg)
		// +tr(transform 0.3s)
.navigation__title
	border-bottom: 1px solid #cdcdcd
	padding: 6px 18px
	text-transform: uppercase
	font-size: 11px
	background-color: #F6F6F6 
.navigation__link
	padding: 8px 30px
	color: #3a3a3a
	display: block
	cursor: pointer
	position: relative
	+tr(all 0.2s)
	&.is-active
		background-color: $blue
		color: #fff 
		.fa
			transform: translateY(-50%) rotate(90deg)
.navigation__i
	display: none
.navigation__i-item
	border-top: 1px solid #cdcdcd
.navigation__i-link
	padding: 8px 30px 8px 47px
	display: block


