.has-fixed-header
	.header
		position: fixed
		top: 0
		left: 0
		right: 0
		z-index: 10
		background: #fff 
		height: 65px
		border-bottom: 3px solid #000
		box-shadow: 0 3px 6px rgba(#000, .3)
		min-width: 1200px
		.contact,
		.shedule,
		.search
			display: none
		.row_table
			> div
				padding-top: 0
				padding-bottom: 0
		.logo
			margin-top: 0
		.logo_small
			margin: 10px auto
		.header__in
			border: 0
		.compare
			display: block
	.nav-wrap
		margin-top: 114px
.tooper
	background: #000
	height: 30px
	line-height: 30px
	font-size: 11px
	color: #fff 
	overflow: hidden
	+arial
	a
		display: inline-block
		color: #fff 
		+tr_c
		&:hover
			color: $gray
.tooper__link
	.fa
		margin-right: 8px
.tooper__nav
	position: relative
	&:before
		content: ""
		position: absolute
		top: 50%
		margin-top: -5px
		left: 0
		height: 10px
		width: 1px
		background: #1a1a1a   
	li
		display: inline-block
		vertical-align: middle
	a
		padding: 0 10px 
.tooper__login
	text-align: center
	+text-overflow
	.fa
		margin-right: 8px
	a
		display: block
		background: #1a1a1a 
.header
	+tr(background .3s)
	&__in
		border-bottom: 3px solid #000 
	.row_table
		> div
			padding-top: 16px
			padding-bottom: 16px
	.contact
		float: left
		margin-top: 7px
		max-width: 45%
	.shedule
		float: right
		max-width: 40%
		margin-top: 7px
	.compare
		display: none
		position: absolute
		right: 33.3%
		top: 0
		bottom: 0
		width: 33.3%
		&__drop
			box-shadow: 0 9px 9px rgba(#000,.3) 
	.compare-btn
		height: 62px
.logo
	display: block
	margin: 13px 0 0 
	width: 80%
	img
		display: block
		width: 100%
	&_small
		margin: 28px auto 
		width: 203px
.contact
	position: relative
	&:before
		content: "\f095"
		position: absolute
		left: -20px
		top: 6px
		font-size: 12px
		+fa-icon
.contact__tel
	font-size: 17px
	+bold
	line-height: 1.4
	color: #000
	a
		color: #000
		+tr_c
		&:hover
			color: $blue 
.shedule
	position: relative
	font-size: 12px
	+arial
	color: $red 
	&:before
		content: "\f017"
		position: absolute
		left: -20px
		top: 2px
		font-size: 12px
		+fa-icon
		color: $black 
.shedule__list
	color: $black 
	font-weight: bold
	span
		display: inline-block
		width: 35px
		font-weight: normal
		color: $gray 
.search
	position: relative
	z-index: 4
	margin: 15px 0 0 
	&.is-active
		.search__drop
			opacity: 1
			visibility: visible
.search__input
	display: block
	position: relative
	z-index: 2
	border: 1px solid #cdcdcd
	padding: 0 10px 0 40px 
	width: 100%
	height: 31px
	+arial
	font-size: 13px
	+tr(border .3s)
	&:focus
		border-color: $blue 
		+ .search__btn
			color: $blue 
.search__btn
	position: absolute
	left: 0
	top: 0
	z-index: 3
	width: 40px
	height: 30px
	background: none
	font-size: 14px
	+tr(color .3s)
	color: #000 
	&:before
		content: "\f002"
		position: absolute
		left: 15px
		top: 8px
		+fa-icon
.search__drop
	opacity: 0
	visibility: hidden
	position: absolute
	top: 100%
	left: 0
	right: 0
	background: #fff
	z-index: 1
	+gpu
	+tr(opacity .3s)
	padding: 18px 30px 15px
	box-shadow: 0 0 5px rgba(#000,.3)
.search__all
	font-size: 14px
	text-transform: uppercase
	+med
	color: $blue
	+tr(color .3s)
	letter-spacing: 1px 
	&:hover
		color: $blue-h 
.search_big
	.search__input
		height: 41px
		border: 2px solid #000
		&:focus
			border-color: $blue 
	.search__btn
		height: 41px
		&:before
			top: 13px
	.btn
		position: absolute
		right: 0
		top: 0
		height: 41px
		width: 19.5%
		z-index: 2
.cart
	display: block
	width: 100%
	padding: 10px 
	height: 62px
	+vertical
	+transition(background, border, .3s)
	border: 1px solid #cdcdcd
	color: $gray 
	.fa
		color: #000 
	&.is-full
		border-color: $blue
		background: $blue  
		color: #fff 
		&:hover
			background: $blue-h 
			border-color: $blue-h 
		.fa
			color: #fff 
			
.cart__in
	display: inline-block
	vertical-align: middle
.cart__details
	display: block
	font-size: 11px
	.fa
		margin-right: 10px
		font-size: 12px
.cart__price
	font-size: 22px
	+med
	sub
		font-size: 14px
		+reg
.btn-action
	background: none
	border-bottom: 1px dashed 
	color: $blue
	+arial
	line-height: 1.3
	font-weight: bold
	+tr(border .3s)
	&:hover
		border-color: transparent 

.nav-wrap
	position: relative
	margin-bottom: 13px
	border-bottom: 1px solid #000 
.nav
	display: table
	width: 100%
	table-layout: fixed
	font-size: 20px
	text-transform: uppercase
	+med
	height: 48px
	line-height: 48px
	color: #000
	text-align: center
	li
		display: table-cell
		position: relative
		vertical-align: top
		&:before
			content: ""
			position: absolute
			left: 0
			top: 50%
			z-index: 3
			margin-top: -2px
			width: 4px
			height: 4px
			+rotate(45deg)
			background: $blue-l 
		&:first-child
			&:before
				display: none
		&.is-active
			color: $blue 
			a
				color: $blue 
				> span
					span
						&:after
							content: ""
							position: absolute
							bottom: -1px
							height: 3px
							left: 0
							right: 0
							background: $blue  
		&.is-open
			> a
				position: relative
				z-index: 6
				box-shadow: 0 -7px 15px -5px rgba(21, 13, 2, 0.3)
				&:before
					content: ""
					position: absolute
					top: 0
					bottom: 0
					left: -1px
					width: 10px
					box-shadow: -5px 0 15px -4px rgba(21, 13, 2, 0.3)
				&:after
					content: ""
					position: absolute
					top: 0
					bottom: 0
					right: -1px
					width: 10px
					box-shadow: 5px 0 15px -4px rgba(21, 13, 2, 0.3)
				> span
					span
						&:after
							display: none
		a
			display: inline-block
			color: #000 
			+tr_c
			background: #fff 
			// &:hover
			// 	color: $blue
			> span
				display: block
				position: relative
				z-index: 2
				padding: 0 30px
				background: #fff 
				span
					position: relative
					display: inline-block
		&.no-dropdown
			a
				&:hover
					color: $blue
.subnav
	position: absolute
	opacity: 0
	visibility: hidden
	z-index: 5
	left: 0
	top: 100%
	box-shadow: 0 5px 15px rgba(21, 13, 2, 0.3)
	+tr(opacity .2s)
	&.is-visible
		opacity: 1
		visibility: visible 
	&.is-right
		left: auto
		right: 0
.subnav__in
	display: table
	table-layout: fixed
.subnav__main	
	position: relative 
	padding: 20px 30px 
	display: table-cell
	vertical-align: top
	width: 600px
	background: #fff
	// &:before
	// 	content: ""
	// 	position: absolute
	// 	top: 0
	// 	left: 0
	// 	right: 0
	// 	height: 15px 
	// 	background: #fff 
	// 	pointer-events: none
	.title_width
		margin: 5px 0 13px
.subnav__banners
	display: table-cell
	vertical-align: top
	width: 380px
	padding: 20px 30px 
	background: #f1f1f1 
	.title
		margin-bottom: 17px
		> span
			&:before,
			&:after
				background: #e5e5e5 
.overlay
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 4
	background: rgba(#000,.2)
	+tr(opacity .2s)
	+gpu
	&.is-visible
		opacity: 1
		visibility: visible

.has-fixed-header
	.header_order
		.logo
			margin-top: 10px
		.order-box
			margin-top: 5px
		.shedule,
		.contact
			display: block
.header_order
	.logo
		float: left
		margin-right: 100px
		width: 203px
		margin-top: 0
	.contact
		float: right
		margin-right: 65px
		margin-top: 0
	.shedule
		margin-top: 0





