.order-group
    margin: 45px 0 55px
    +r(1024)    
        .radiobox_tab
            width: 33.3333%
    +r(640)
        margin: 0 0 20px
        .input_textarea
            height: 64px
        .radiobox
            width: 100%
        .js-radiobox-content
            display: none !important
.table-wrap
    border: 2px solid $blue
    .btn-simple
        margin: 28px 38px 38px 0 
.table
    color: $dark
    font-size: 13px
    +arial 
    caption
        padding: 4px 28px 0
        color: $dark
        font-size: 22px
        +reg
        text-align: left
    thead
        text-align: left
        color: $gray 
    th
        font-weight: normal
        padding: 0 28px 5px
        line-height: 1.2
        vertical-align: middle
    tbody
        tr
            +tr(background .3s)
            &.is-active
                background: $blue
                color: #fff
                .price
                    color: #fff 
    td
        border-top: 1px solid #f6f6f6
        padding: 15px 28px 
        vertical-align: middle
    .number
        margin-right: 12px
.table_order
    td
        padding: 0 28px
        .radio
            height: 70px
            line-height: 70px
            &__text
                display: inline-block
                vertical-align: middle
                line-height: 1.2
    +r(1024)
        caption
            padding: 15px 20px 0
        td
            padding: 0 20px
        th
            padding: 0 20px 7px
            vertical-align: bottom
        .paсkage
            width: 270px
        .d-payment
            padding-left: 0
        .sum
            width: 227px
            padding: 0 48px 7px 0
            line-height: 1
.table_order-mobile
    display: none
    +r(640)
        display: table
        caption
            padding: 15px 10px 0
        td
            padding: 0 10px
            .radio
                height: 113px
                line-height: normal
                padding: 20px 0 15px
.order-wrap
    padding: 45px 30px 30px
    background: #f3f3f3
    +r(640)
        padding: 10px
.order
    padding-top: 20px
    border-top: 1px solid #e6e6e6
    +r(1024)
        padding-top: 30px
    // +r(640)
    //     display: none
    &:first-child
        border-top: 0
        +r(1024)
            padding-top: 0
    &__title
        margin-bottom: 20px
        font-size: 22px
        line-height: 1.2
        +med
        span
            color: #888 
        a
            color: #050505
            +tr(color .3s)
            &:hover
                color: $blue 
        +r(572)
            font-size: 18px
    &__table
        display: table
        width: 100%
        table-layout: fixed
        .order__title
            display: table-caption
        .order__cell
            +rmin(1025)
                &:nth-child(2)
                    padding-left: 0
        +r(1024)
            position: relative
            font-size: 0
            .order__cell
                padding: 0 10px 0 0
                &:nth-of-type(2)
                    width: 15%
                &:nth-of-type(3)
                    width: 30%
                &:nth-of-type(4)
                    padding: 0 75px 8px 0
                .price
                    width: 50%
                    display: inline-block
                .prod-simple__text
                    position: absolute
                    right: 20px
                    bottom: 40px
                .number-info_width
                    max-width: 56%
        +r(720)
            .order__cell
                &:nth-child(3)
                    width: 35%
        +r(640)
            display: block
            +clr
            padding: 0 0 30px
            .order__title
                display: block
                float: right
                width: calc(100% - 110px)
                font-size: 14px
                +arial
                padding-right: 20px
                div
                    margin-top: 6px
                
            .order__cell
                display: block
                float: left
                width: 33.3333%
                &:nth-child(2)
                    width: 110px
                    float: left
                &:nth-child(3)
                    clear: both
                    padding: 0
                    width: 33.3333%
                    padding: 0 !important
                &:nth-child(4)
                    width: 66.6666%
                    padding: 0
                    text-align: center
                    .price
                        &:last-child
                            text-align: right
                .prod-simple__text
                    top: 0
                    bottom: auto
            .price
                padding: 3px 0
                span
                    display: none
            .prod-simple
                margin-bottom: 20px
            .prod-simple__img
                width: 100%
            .number-info
                .meta
                    display: none
            .prod-simple__del
                +hide-text
                .btn-del
                    top: -16px
    &__cell
        display: table-cell
        vertical-align: top
        padding: 0 0 25px 5px
        &:first-child
            padding-left: 0
        +r(1024)
            vertical-align: middle
            padding: 0 30px 0 0
        +r(640)
            .number__plus,
            .number__minus
                display: none
            .number
                width: 60px
            .number__input
                padding: 0 5px
                text-align: center
    &__cell_last
        +r(1024)
            padding: 0 22px 20px 0
            text-align: right
        +r(572)
            text-align: left
    &__cell-number
        width: 200px
    &__cell-price  
        position: relative
        padding-right: 70px
        +r(1024)
            padding-right: 57px
        .btn-del
            right: 0
            top: 20px
    &__info
        display: inline-block
        text-transform: uppercase
        font-size: 12px
        +arial
        font-weight: bold
        span
            text-transform: none
            color: $gray
            font-weight: normal
            font-size: 11px
    &__info_t-space
        +r(1024)
            padding: 28px 0 0
        +r(640)
            padding: 0
            margin: 0 -10px
    &__prod
        padding-right: 10px
        font-size: 14px
        line-height: 1.4
        span
            color: $gray 
    &__label
        display: block
        margin-bottom: 12px
        font-size: 11px
        text-transform: uppercase
        font-weight: bold
    .prod-simple
        &__img
            background: #fff 
            border: 1px solid #eaeaea
.order_delivery
    padding: 5px 0 
    border-top-color: #000
    text-align: right
    +r(640)
        display: block
        background-color: #F3F3F3 
    .price
        font-weight: normal
        text-transform: none
        +r(1024)
            +bold
    .price__top
        display: none
        +r(1024)
            display: block
            text-align: left
            color: #000
            margin: 0 0 -4px 3px
            font-weight: 600
    +r(640)
        .container
            .row
                [class^="col-xs-8"],
                [class^="col-xs-4"]
                    width: 100%
        .price_large
            font-size: 30px
            sup
                top: -10px
            sup,
            sub
                font-size: 16px
.order_total
    padding-top: 10px
    border-top-width: 2px 
.order_auto-width
    .order__table
        table-layout: auto
    .prod-simple
        padding-right: 25px
.order-box
    float: left
    border-left: 1px solid #ebebeb 
    padding-left: 45px
    height: 52px
    line-height: 52px
    font-size: 20px
    +med
    color: $gray 
    .fa
        margin: -7px 12px 0 0
        color: #000
        font-size: 12px
        vertical-align: middle  

.order-action
    .btn-simple
        margin-left: 25px
        min-width: 172px
        padding: 14px 30px 13px
        float: right
        +r(1024)
           font-size: 18px
           padding: 13px 30px 13px 
    .btn
        margin-left: 25px
        float: right
        +r(1024)
            font-size: 18px
            padding: 15px 23px 
    .link-credit
        margin: 16px 0 0
        +r(1024)
            margin: 10px 215px 0 0 
    .btn-back
        margin: 10px 0 0 10px
        white-space: nowrap
.order__row
    position: relative
    padding-left: 100px
    +clr
    .order__prod
        width: 41.14114114114115%
        float: left
        margin-bottom: 50px
    .price
        float: left
    > .price
        width: 100%
        margin-top: -50px
        padding-right: 58.85885885885885%
    .order__cell
        width: 50%
        float: left
        display: block
        padding: 0 30px 10px 0
    .btn-del
        top: 20px
        right: 0
    .number-info
        max-width: 70px
    +r(1024)
        .order__cell
            padding-right: 30px
    +r(640)
        padding: 0 0 30px 0
        .order__prod
            overflow: auto
            width: calc(100% - 110px)
            padding-right: 15px
            margin-bottom: 20px
        .order__right
            width: 66.6666%
            margin-left: 33.3333%
        .price
            width: 33.3333%
            display: block
            padding: 6px 16px 0 0
            font-size: 20px
            sub
                font-size: 14px
            sup
                position: relative
                top: -4px
                font-size: 16px
        > .price
                margin-top: 0
                float: none
                clear: left
        .order__cell
            display: inline-block
            width: 50% !important
            position: static
            padding: 0
            &:nth-child(1)
                text-align: center
            &:nth-child(2)
                text-align: right
            .price
                width: 100%
        .order__label
            display: none
        .number-info
            display: none
        .btn-del
            top: -4px
            right: 0
        .prod-simple
            padding-right: 10px
        .prod-simple__img
            width: 100px
        .number
            width: 58px
    +r(380)
        .vendor-code
            margin-top: 6px
.order__left
    +rmin(641)
        position: absolute
        top: 0
        left: 0
    +r(640)
        float: left
.order__right
    float: right
    width: 58.85885885885885%
.vendor-code
    display: inline-block
    vertical-align: middle
    background-color: red
    color: #fff !important
    font: 12px Arial, Helvetica, sans-serif
    padding: 5px 10px
