.l-sidebar
	position: relative
	display: table-cell
	vertical-align: top
	width: 238px
	padding: 42px 0 0
	+r(1270)
		float: left
		width: 20.34188034188034%
		display: block
	&__in
		position: relative
		padding-right: 35px  
		&:after
			content: ""
			position: absolute
			top: 13px
			bottom: 0
			right: -2px
			width: 2px
			background: #000
	&_width
		width: 272px
	.banner
		margin-bottom: 20px
.accord
	margin-bottom: 18px
	&.is-full-list
		.accord__list
			li
				&:nth-child(n+11)
					display: block
	&.is-open
		.accord__title
			span
				&:before
					+rotate(-180deg)

	&__title
		padding: 3px 0
		font-size: 16px
		+med
		text-transform: uppercase
		cursor: pointer
		+nosel
		color: #000
		+tr_c 
		&:hover
			color: $blue-h 
		
		span
			display: inline-block
			position: relative
			&:before
				content: "\f107" 
				+fa-icon
				position: absolute
				right: -15px
				top: 5px
				font-size: 12px
				+gpu
				+tr(transform .2s)

	&__list
		li
			&:nth-child(n+11)
				display: none
	&__scroll
		padding-right: 30px
		max-height: 195px
		overflow-x: hidden
		overflow-y: auto 
		+scrollbar
			width: 5px
			height: 5px
			border-radius: 3px
			border: 1px solid $border-d
		+scrollbar-thumb
			background: #b6b6b6
			width: 3px
			height: 3px
			border-radius: 3px
	
.title-small
	margin-bottom: 5px
	font-size: 16px
	+med
	color: #000
	font-weight: normal
	&_up
		text-transform: uppercase
.filter-choice
	border-bottom: 1px solid $border-d 
	&_nav
		position: relative
		display: block
		margin-bottom: 53px
		padding: 10px 10px 7px
		border: 3px solid $blue
		+tr(border .3s)
		&:after
			content: ""
			position: absolute
			bottom: -33px
			left: 0
			width: 170px
			height: 1px
			background: #eee 
		&:hover
			border-color: $blue-h
	&__title
		font-size: 16px
		+med
		color: $blue 
.tags
	margin-bottom: 4px
	.meta
		margin-bottom: 2px
.tag
	margin: 0 5px 5px 0 
	padding: 4px 10px 4px 6px 
	display: inline-block
	position: relative
	vertical-align: middle
	border: 1px solid $border-d
	+text-overflow
	text-align: left
	line-height: 1
	background: none
	max-width: 100%
	font-size: 12px
	+arial
	color: #444 
	border-radius: 3px 
	&:before
		content: "\f00d"
		margin-right: 6px
		+fa-icon
		font-size: 10px
		color: #999 
		transition: color .2s
	&:hover
		&:before
			color: $red 
	&_link
		+tr(border .3s)
		&:hover
			border-color: $blue
		&:before
			display: none
	&_simple
		&:before
			display: none	
.box
	position: relative
	margin: 10px 0 45px 
	border: 2px solid #000
	&__in
		padding: 20px 18px 
	&__title
		position: absolute
		left: 0
		top: 0 
		right: 0
		overflow: hidden
		transform: translateY(-50%)
		font-size: 18px
		+med
		text-align: center
		letter-spacing: 1px 
		text-transform: uppercase
		span
			display: inline-block
			vertical-align: middle
			padding: 0 5px 
			background: #fff 
	&__more
		position: absolute
		bottom: 0
		left: 0
		right: 0
		transform: translateY(50%)
		text-align: center
		font-size: 15px
		color: $gray 
		text-transform: uppercase
		+med
		a
			position: relative
			padding: 0 8px 
			color: $gray 
			background: #fff 
			+tr_c
			&:hover
				color: $blue 
	.post-item
		margin-bottom: 40px
		&:first-child
			margin-top: 15px
		&:last-child
			margin-bottom: 15px
	&__nav
		color: #333 
		font-size: 18px
		+med
		text-transform: uppercase
		line-height: 1
		li
			border-top: 1px solid #cdcdcd
			&:first-child
				border: 0
			&.is-active
				color: $blue
				a
					color: $blue
		a
			display: block
			position: relative
			padding: 9px 20px 9px 44px 
			color: #333 
			+tr(color .3s)
			&:before
				content: ""
				position: absolute
				left: 20px
				top: 50%
				z-index: 3
				margin-top: -2px
				width: 4px
				height: 4px
				+rotate(45deg)
				background: $blue-l 
			&:hover
				color: $blue 
	&__text
		p
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0
		a
			font-size: 16px
			+med
			color: $blue
			letter-spacing: 1px  
	&__tel
		margin: -10px 0 5px
		font-size: 24px
		+bold
.box_action
	display: block
	border-color: $red
	text-align: center
	color: #000 
	+tr(border .3s)
	&:hover
		border-color: darken($red, 5%) 
	&:before,
	&:after
		content: "" 
		position: absolute
		left: 20px
		right: 20px
		height: 4px
		background: #fff
	&:before
		top: -2px
	&:after
		bottom: -2px
	.box__more
		z-index: 2
		a
			color: $red 
.box_blue
	border-color: $blue 
	.box__in
		padding: 10px 18px 
.box_contacts
	text-align: left
	.box__in
		padding: 20px 10px 20px 65px
	.shedule
		&:before
			color: $red 
.box__info	
	margin: -7px 0 5px
	font-size: 22px
	color: #000
	line-height: 1.2
	+med 
.post-item
	margin-bottom: 32px
	+clr
	&__media
		float: left
		margin: 0 15px 0 0
		width: 95px
		overflow: hidden
		img
			display: block
			width: 100%
			height: auto
			+gpu
			+tr(opacity .2s)
			&:hover
				opacity: .8
	&__title
		overflow: hidden
		font-size: 20px
		line-height: 1
		+med
		color: #000
		a
			color: #000
			+tr_c
			&:hover
				color: $blue 
	&__main
		overflow: hidden
	&__info
		clear: both
		.meta
			color: $dark
			span
				color: $gray 
	.text
		padding-top: 10px
		clear: both
		font-size: 13px
.post-item_small
	width: 95px
	.post-item__media
		border: 1px solid #eee
	.meta
		font-size: 12px
	.price_big
		font-size: 22px
		sup
			font-size: 16px
		sub
			font-size: 14px
.post-item_inline
	+clr
	padding: 18px 20px 18px 15px
	background: #f6f6f6 
	.post-item__title
		margin-bottom: 6px
	.post-item__media
		margin-bottom: 0
+keyframes(dots)
	0%
		opacity: 0
	100%
		opacity: 1
// +keyframes(hourglass)
// 	0%
// 		+rotate(0deg)
// 	50%
// 		+rotate(-180deg)
// 	100%
// 		+rotate(-360deg)
.countdown
	position: relative
	text-align: center
	display: inline-block
	white-space: nowrap
	padding: 5px 0 10px
	line-height: 1
	&:before
		content: ""
		position: absolute
		left: -23px
		top: 16px
		+svg(hourglass,12,12) 
		//animation: hourglass 2s infinite
.countdown-section
	display: inline-block
	position: relative
	vertical-align: middle
	margin-right: 10px
	&:first-child
		margin-right: 14px
	&:last-child
		margin-right: 0
		&:before
			content: ":" 
			position: absolute
			left: -8px
			top: 0
			line-height: 1
			+bold
			font-size: 30px
			+gpu
			animation: dots 1s infinite
	span
		display: block
.countdown-amount
	font-size: 30px
	+bold
.countdown-period
	position: absolute
	top: 100%
	color: $gray
	font-size: 11px 
	
.contacts
	margin-top: 14px
	
	&:first-child
		margin-top: 0
	&__title
		position: relative
		margin-bottom: 7px
		line-height: 1
		text-transform: uppercase
		font-size: 16px
		+med
		color: #000 
		.fa
			position: absolute
			left: -25px
			top: 2px
			font-size: 12px
			color: $red 
		+ .contacts__tel
			margin-top: -7px
	&__tel
		font-size: 30px
		line-height: 1
		+bold
		sub
			font-size: 18px
	&__text
		a
			color: #000
			&:hover
				color: $blue 
	.shedule
		line-height: 1.2
		&:before
			display: none