<div class="footer">
	<div class="rod">
		<i class="icon-pike-left"></i>
		<i class="icon-pike-right"></i>
		<i class="rod__icon icon-flwr"></i>
	</div>
	<div class="footer__top">
		<div class="l-center">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<a href="#">Доставка и оплата</a>
						<a href="#">Гарантия качества</a>
						<a href="#">О компании</a>
						<a href="#">Реквизиты</a>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<a href="#">Каталог цветов</a>
						<a href="#">Свадебные букеты</a>
						<a href="#">Оформление мероприятий</a>
						<a href="#">Предложение для компаний</a>
						<a href="#">Цветы оптом</a>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<a href="#">Авторские открытки</a>
						<a href="#">Игрушки</a>
						<a href="#">Вазы</a>
						<a href="#">Шарики</a>
						<a href="#">Конфеты</a>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
						<a href="tel:+78121234567">+7 (812) 123-45-67</a>
						<a href="mailto:help@cvetomaster.ru">help@cvetomaster.ru</a>
						<p>Ежедневно с 9:00 до 21:00</p>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
						<a href="#">Форма обратной связи</a>
						<a href="#">Заказать обратный звонок</a>
						
					</div>
					<div class="col-lg-2 col-lg-offset-8 col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-xs-10">
						<div class="soc-panel">
							<a href="#" class="soc-panel__vk">
								
							</a>
							<a href="#" class="soc-panel__facebook">
								
							</a>
							<a href="#" class="soc-panel__insta">
								
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="l-center">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-10">
						<p class="copyright">
							© ООО «Цветочная мастерская», 2015
						</p>
						<p class="copyright_col">
							Разработка сайта: <a href="#">Aglaya</a>
						</p>
					</div>
					<div class="col-lg-8 col-md-7 col-sm-6 text-right hidden-xs">
						<i class="icon-visa"></i>
						<i class="icon-visa-2"></i>
						<i class="icon-master"></i>
						<i class="icon-maestro"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- load scripts -->
<script src="js/main.js"></script>