<div class="header">	
	<div class="container-fluid">
		<div class="l-center">	
			<div class="row">
				<div class="header__top">
					<div class="col-lg-2 col-md-2">
						<div class="header__info">
							Доставка цветов и подарков в Санкт-Петербурге день в день при заказе до 12:00.
						</div>
					</div>
					<div class="col-lg-1 col-md-1">
						<div class="header__schedule">
							Мы работаем ежедневно с 9:00 до 21:00.
						</div>
					</div>
					<div class="col-lg-4 col-md-4 text-center">
						<a href="#" class="header__logo"></a>
					</div>
					<div class="col-lg-1 col-md-1">
						<div class="header__contact">
							<a href="tel:+78121234567">+7 (812) 123-45-67</a>
							<a href="skype:cvetomaster">
							<span class="skype">SKYPE:</span> 
							<span>cvetomaster</span>
							</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-2">
						<div class="header__feedback">
							<a href="#">Обратный звонок</a>
							<a href="#">Форма обратной связи</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="menu-wrap">
						<i class="menu-wrap__liana"></i>
						<button type="button" class="btn-menu js-btn-menu">
							<i></i>
						</button>
						<button type="button" class="btn-filter js-btn-filter">
							<i class="icon-search"></i>
						</button>
						<ul class="menu">
							<li class="menu__item">
								<a href="#" class="menu__link">
									Каталог 
								</a>
							</li>
							<li class="menu__item is-active">
								<a href="#" class="menu__link">
									 Доставка и оплата 
								</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">
									Гарантия качества 
								</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">
									 Оформление мероприятий 
								</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">
									О нас
								</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">
									контакты
								</a>
							</li>
						</ul>
						<a href="#" class="cart">
							<div class="cart__in">
								<i class="icon-cart"></i>
								<span>3240 ₽</span>
							</div>
						</a>
						<a href="#" class="lang">EN</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="menu-mob js-menu">
	<a href="#" class="mob-logo"></a>
	<a href="#" class="menu-mob__link">
		<span>Каталог</span>
	</a>
	<a href="#" class="menu-mob__link is-active">
		<span>Доставка и оплата</span>
	</a>
	<a href="#" class="menu-mob__link">
		<span>Гарантия качества</span>
	</a>
	<a href="#" class="menu-mob__link">
		<span>Оформление мероприятий</span>
	</a>
	<a href="#" class="menu-mob__link">
		<span>О нас</span>
	</a>
	<a href="#" class="menu-mob__link">
		<span>контакты</span>
	</a>
	<a href="#" class="menu-mob__link">
		<span>корзина</span>
	</a>
	<a href="#" class="menu-mob__link">
		<span>EN</span>
	</a>
</div>
<div class="filters-mob js-filter">
	<a href="#" class="mob-logo"></a>
	<div class="filters-mob__item is-name js-accord-head">
		цветы
	</div>
	<div class="accord-body js-accord-body">
		<div class="filters-mob__item">
			<div class="check check_big">
				<label class="check__item">
					<input type="checkbox">
					<span class="check__img">
						<span class="check__main">
							<img src="img/flower1.png" alt="">
						</span>
						<span>Хризантемы</span>
					</span>
				</label>
			</div>
		</div>
		<div class="filters-mob__item">
			<div class="check check_big">
				<label class="check__item">
					<input type="checkbox">
					<span class="check__img">
						<span class="check__main">
							<img src="img/flower1.png" alt="">
						</span>
						<span>Хризантемы</span>
					</span>
				</label>
			</div>
		</div>
		<div class="filters-mob__item">
			<div class="check check_big">
				<label class="check__item">
					<input type="checkbox">
					<span class="check__img">
						<span class="check__main">
							<img src="img/flower1.png" alt="">
						</span>
						<span>Хризантемы</span>
					</span>
				</label>
			</div>
		</div>
	</div>
	<div class="filters-mob__item is-name js-accord-head">
		стоимость
	</div>
	<div class="accord-body js-accord-body">
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox" checked>
				<span class="checkbox__text">
					<i></i>
					500 — 1000 ₽
				</span>
			</label>
		</div>
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox">
				<span class="checkbox__text">
					<i></i>
					1000 — 2000 ₽
				</span>
			</label>
		</div>
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox">
				<span class="checkbox__text">
					<i></i>
					2000 — 3000 ₽
				</span>
			</label>
		</div>
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox">
				<span class="checkbox__text">
					<i></i>
					99000 — 999000 ₽
				</span>
			</label>
		</div>
	</div>
	<div class="filters-mob__item is-name js-accord-head">
		цвет
	</div>
	<div class="accord-body js-accord-body">
		<div class="filters-mob__item filters-mob__colors">
			<div class="check check_color">
				<label class="check__item">
					<input type="checkbox">
					<span class="check__main">
						<i style="background: #a544b7"></i>
					</span>
				</label>
			</div>
			<div class="check check_color">
				<label class="check__item">
					<input type="checkbox">
					<span class="check__main">
						<i style="background: #3f3f3d"></i>
					</span>
				</label>
			</div>
			<div class="check check_color">
				<label class="check__item">
					<input type="checkbox">
					<span class="check__main">
						<i style="background: #f47e15"></i>
					</span>
				</label>
			</div>
			<div class="check check_color">
				<label class="check__item">
					<input type="checkbox">
					<span class="check__main">
						<i style="background: #de0a19"></i>
					</span>
				</label>
			</div>
			<div class="check check_color">
				<label class="check__item">
					<input type="checkbox">
					<span class="check__main">
						<i style="background: #ecc12c"></i>
					</span>
				</label>
			</div>
			<div class="check check_color">
				<label class="check__item">
					<input type="checkbox">
					<span class="check__main">
						<i style="background: #3e90dd"></i>
					</span>
				</label>
			</div>
		</div>
	</div>
	<div class="filters-mob__item is-name js-accord-head">
		букет
	</div>
	<div class="accord-body js-accord-body">
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox" checked>
				<span class="checkbox__text">
					<i></i>
					Монобукет
				</span>
			</label>
		</div>
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox">
				<span class="checkbox__text">
					<i></i>
					Сборный букет
				</span>
			</label>
		</div>
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox">
				<span class="checkbox__text">
					<i></i>
					Композиции
				</span>
			</label>
		</div>
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox">
				<span class="checkbox__text">
					<i></i>
					Люкс
				</span>
			</label>
		</div>
	</div>
	<div class="filters-mob__item is-name js-accord-head">
		подарки
	</div>
	<div class="accord-body js-accord-body">
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox" checked>
				<span class="checkbox__text">
					<i></i>
					Открытки
				</span>
			</label>
		</div>
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox">
				<span class="checkbox__text">
					<i></i>
					Игрушки
				</span>
			</label>
		</div>
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox">
				<span class="checkbox__text">
					<i></i>
					Вазы
				</span>
			</label>
		</div>
		<div class="filters-mob__item">
			<label class="checkbox">
				<input type="checkbox">
				<span class="checkbox__text">
					<i></i>
					Шарики
				</span>
			</label>
		</div>
	</div>
</div>